flake8==3.7
flake8-bandit==2.1.2
flake8-bugbear==19.8.0
flake8-comprehensions==3.1.4
flake8-eradicate==0.2.3
flake8-functions==0.0.2
flake8-variables-names==0.0.3
pytest==5.4.3
pytest-cov==2.10.0
setuptools>=40.6.2
twine>=1.12.1
wheel>=0.32.2
